{% extends "base.html" %}
{% block content %}


<div class="details-card">
  <img class="details-cover" src="{{ book.url }}" alt="{{ book.title }}">
  <div class="details-body">
    <div class="details-title">{{ book.title }}</div>
    <div class="details-authors">
      By
      {% if book.author %}{{ book.author }}
      {% else %}{{ ", ".join(book.authors) }}{% endif %}
      {% if book.illustrator %}, {{ book.illustrator }} (Illustrator){% endif %}
    </div>

    <div class="details-meta">
      Category: 
      {% if book.categories %}{{ ", ".join(book.categories) }}
      {% else %}{{ book.category }}{% endif %}<br>
      Pages: {{ book.pages }}<br>
      {% if book.available is not none %}
        Copies: <b>{{ book.copies }}</b> Available: <b>{{ book.available }}</b>
      {% else %}
        Copies: <b>{{ book.copies }}</b>
      {% endif %}
    </div>

    {% for p in book.description %}
      <p class="details-desc">{{ p }}</p>
    {% endfor %}

    <a href="{{ url_for('catalogue_bp.book_titles') }}" class="btn btn-success back-btn float-end">Back to Book Titles</a>
  </div>
</div>

{% endblock %}
